<?xml version="1.0" encoding="utf-8"?>
<configuration> 
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="QuestionClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><applicationSettings>
        <QuestionClient.Properties.Settings>
            <setting name="Q001" serializeAs="String">
                <value>简明精神量表</value>
            </setting>
            <setting name="Q002" serializeAs="String">
                <value>心理卫生评测</value>
            </setting>
            <setting name="Q003" serializeAs="String">
                <value>自测健康评测</value>
            </setting>
            <setting name="Q004" serializeAs="String">
                <value>酒精依赖疾患识别测验</value>
            </setting>
            <setting name="Q005" serializeAs="String">
                <value>Russell吸烟原因问卷</value>
            </setting>
            <setting name="Q006" serializeAs="String">
                <value>自杀态度问卷</value>
            </setting>
            <setting name="Q007" serializeAs="String">
                <value>匹兹堡睡眠质量指数</value>
            </setting>
            <setting name="Q008" serializeAs="String">
                <value>焦虑自评工表</value>
            </setting>
            <setting name="Q009" serializeAs="String">
                <value>孤独量表</value>
            </setting>
            <setting name="Q010" serializeAs="String">
                <value>儿童体质中医辨识表</value>
            </setting>
            <setting name="Q011" serializeAs="String">
                <value>老年人中医体质辨识表</value>
            </setting>
        </QuestionClient.Properties.Settings>
    </applicationSettings>
</configuration>
